<p id="notice"><%= notice %></p>

<h1>Installations</h1>
<% if false %>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Credit</th>
        <th>Copyright</th>
        <th>Comment</th>
        <th>Created at</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @installations.each do |installation| %>
        <div class="installations_wrapper">
          <tr>
            
            <td><%= link_to installation.title, installation %></td>
            <td><%= installation.description %></td>
            <td><%= installation.credit %></td>
            <td><%= installation.copyright %></td>
            <td><%= installation.comment %></td>
            <td><%= installation.created_at %></td>
            <td><%= link_to 'Show', installation %></td>
            <td><%= link_to 'Edit', edit_installation_path(installation) %></td>
            <td><%= link_to 'Destroy', installation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        </div>
      <% end %>
    </tbody>
  </table>
<% end %>


<% @installations.each do |installation| %>
  <div class="installation_wrapper">
      <h2 class="title"><%= link_to installation.title, installation %></h2>
      <td><%= image_tag (installation.image), style: 'height:60px; width:auto'  %></td>
      <p class="description"><%= installation.description %></p>
      <p class="credit"><%= installation.credit %></p>
      <p class="copyright"><%= installation.copyright %></p>
      <p class="date"><%= installation.created_at.strftime("%B %d, %Y") %></p>
<% if user_signed_in? %>
            <p><%= link_to 'Show', installation %> | <%= link_to 'Edit', edit_installation_path(installation) %> |
            <%= link_to 'Destroy', installation, method: :delete, data: { confirm: 'Are you sure?' } %></p>
<% end %>
  </div>
  <br>
<% end %>

<br>

<% if user_signed_in? %>
  <%= link_to 'New Installation', new_installation_path %>
<% end %>

 