<div id="installation_content">

  <p id="notice"><%= notice %></p>

  <p class="title">
    <strong>Title:</strong>
    <%= @installation.title %>
  </p>

  <p class="show_image">
    <strong>Image:</strong>
    <%= @installation.image %>
  </p>

  <p class="description">
    <strong>Description:</strong>
    <%= @installation.description %>
  </p>

  <p class="credit">
    <strong>Credit:</strong>
    <%= @installation.credit %>
  </p>

  <p class="copyright">
    <strong>Copyright:</strong>
    <%= @installation.copyright %>
  </p>

  <p class="date">
    <strong>Date:</strong>
    Submitted <%= time_ago_in_words(@installation.created_at) %> ago.
  </p>
		
    
  <% if user_signed_in? %>
    <%= link_to 'Edit', edit_installation_path(@installation) %> |
    <%= link_to 'Back', installations_path %> |
    <%= link_to 'Delete', installation_path(@installation), method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
	

	<div id="comments">
		<h2><%= @installation.comments.count %> Comments</h2>
		<%= render @installation.comments %>
    <% if user_signed_in? %>
		  <h3>Add a comment:</h3>
		  <%= render "comments/form" %>
    <% end %>
	</div>
 



</div>