<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @installation.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @installation.description %>
</p>

<p>
  <strong>Credit:</strong>
  <%= @installation.credit %>
</p>

<p>
  <strong>Copyright:</strong>
  <%= @installation.copyright %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @installation.slug %>
</p>

<%= link_to 'Edit', edit_installation_path(@installation) %> |
<%= link_to 'Back', installations_path %>
