<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @sculpture.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @sculpture.description %>
</p>

<p>
  <strong>Credit:</strong>
  <%= @sculpture.credit %>
</p>

<p>
  <strong>Copyright:</strong>
  <%= @sculpture.copyright %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @sculpture.slug %>
</p>

<%= link_to 'Edit', edit_sculpture_path(@sculpture) %> |
<%= link_to 'Back', sculptures_path %>
