<p id="notice"><%= notice %></p>

<h1>Gebruikers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Slug</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gebruikers.each do |gebruiker| %>
      <tr>
        <td><%= gebruiker.name %></td>
        <td><%= gebruiker.slug %></td>
        <td><%= link_to 'Show', gebruiker %></td>
        <td><%= link_to 'Edit', edit_gebruiker_path(gebruiker) %></td>
        <td><%= link_to 'Destroy', gebruiker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gebruiker', new_gebruiker_path %>
