<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @gebruiker.name %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @gebruiker.slug %>
</p>

<%= link_to 'Edit', edit_gebruiker_path(@gebruiker) %> |
<%= link_to 'Back', gebruikers_path %>
