<!DOCTYPE html>
<html>
  <head>
    <title>IlaFirouzabadi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>

  </head>

  <body>
  <br>
	<div id="sidebar">
		<div id="logo">
			<%= link_to root_path do %>
				<%= image_tag "logo.png" %>
			<% end %>
		</div>

		<ul>
			<li class="category">Website</li>
			<li><%= link_to "Home", root_path, class: "btn btn-outline-warning" %></li>
			<li><%= link_to "Installations", installations_path, class: "btn btn-outline-info" %></li>
			<li><%= link_to "About", about_path, class: "btn btn-outline-danger" %></li>
		</ul>

		<ul>
			<li class="category">Social</li>
			<li><a href="https://twitter.com/ilafirouzabadi" class="btn btn-outline-secondary">Twitter</a></li>
			<li><a href="http://instagram.com/ilafirouzabadi" class="btn btn-outline-secondary">Instagram</a></li>
			<li><a href="mailto:ila_firouzabadi@gmail.com" class="btn btn-outline-secondary">Email</a></li>
		</ul>

		<% if !user_signed_in? %>
			<p class="sign_in"><%= link_to "Admin Login", new_user_session_path, class: 'btn btn-secondary' %></p>
			<!--<p class="sign_in"><%= link_to "Admin Login", new_user_session_path %></p>-->
		<% end %>
		<% if user_signed_in? %>

		<p class="sign_in">
					
					<%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'btn btn-outline-danger')  %>
		</p>
		<% end %>

	</div>




<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">ILAFIROUZABADI.COM</a>



  			<% if current_page?(root_path) %>
			  <button type="button" class="btn btn-outline-warning">Congratulations, you made it to my website</button>
			<% elsif current_page?(installations_path) %>
			  <button type="button" class="btn btn-outline-info">All Installations</button>
			<% elsif current_page?(about_path) %>
			  <button type="button" class="btn btn-outline-danger">About</button>
			<% else %>
				<%= link_to "Back to All Installations", installations_path, class: 'btn btn-outline-warning' %>
				
			<% end %>


  <div class="collapse navbar-collapse" id="navbarColor01">

  
			<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="#"><span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="installations#index"></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/about"></a>
			</li>
			</ul>





	</div>
</nav>




	<div id="main_content">
		<% flash.each do |name, msg| %>
			<%= content_tag(:div, msg, class: "alert alert-dismissible alert-danger") %>
		<% end %>

		<%= yield %>
	

		</div>
  </body>
</html>
