<!DOCTYPE html>
<html>
  <head>
    <title>IlaFirouzabadi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>

  </head>

  <body>
  <br>
 

<body class="sidebar-mini">
    <div class="wrapper">
      <%= render partial: "layouts/header" %>
      <%= render partial: "layouts/sidebar" %>
      <div class="content-wrapper">
        <%= yield %>
      </div>
      <%= render partial: "layouts/footer" %>
    </div>
  </body>




<div class="container">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">ILAFIROUZABADI.COM</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  			<% if current_page?(root_path) %>
			  <button type="button" class="btn btn-outline-warning">Congratulations, you made it to my website</button>
			<% elsif current_page?(installations_path) %>
			  <button type="button" class="btn btn-outline-info">All Installations</button>
			<% elsif current_page?(about_path) %>
			  <button type="button" class="btn btn-outline-success">About</button>
			<% else %>
				<%= link_to "Back to All Installations", installations_path, class: 'btn btn-outline-warning' %>
				
			<% end %>


  <div class="collapse navbar-collapse" id="navbarColor01">

  
			<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="instalaltions#index">Installations</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/about">About</a>
			</li>
			</ul>


			<% if user_signed_in? %>
			    <form class="form-inline">
					<%= link_to "New Installation", new_installation_path, class: 'btn btn-outline-info' %>
				</form>
			&nbsp;
			    <form class="form-inline">
					<%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'btn btn-outline-danger')  %>
				</form>
			<% end %>


	</div>
</nav>
</div>




	
	<div id="main_content">
		<% flash.each do |name, msg| %>
			<div class="container"><%= content_tag(:div, msg, class: "alert alert-dismissible alert-danger") %></div>
		<% end %>

		<%= yield %>
	

		</div>
  </body>
</html>
